*{
    color: white;
}

.converter-cont{
    border: 3px solid black;
    margin:auto;
    width: 40%;
    border-radius: 15px;
    padding: 30px;
    height: 250px;
    background-color: rgb(132, 86, 177) ;
}
p{
    font-size: 1.3em;
}
input[type='number'],select{

    width: 20%;
    padding: 10px;
    text-align: center;
    font-size: 1.4em;
    border-radius: 15px;
}
select{
    width: 30%;
}
.input-cont{
    display:flex;
    justify-content: space-around;
}
.ans-p{
    color:black
}
input,select{
    background-color: transparent;
}
option{
    background-color: black;
    border-radius: 10px;
}